<nav id = 'bar'>
  <div>
    <h2><%= link_to 'bean depot', root_path%></h2>
    <%= link_to "Back", :back %>
  </div>

  <h1><%= page_name %></h1>

  <div>
    <span><%= link_to 'collection', root_path %></span>
      <% if user_signed_in? %>
        <span><%= link_to 'cart', cart_path %></span>
        <span><%= link_to 'profile', profiles_path %></span>
        <span><%= link_to 'logout',  destroy_user_session_path, method: :delete %></span>
      <% else %>
         <span><%= link_to 'login', new_user_session_path %></span>
      <% end %>
  </div>
  
</nav>