<div class = "card" style= 'border: solid 1px black;'>
  <%= link_to "#{product.name}", showcase_path(product.id)%>
  <div>
  [.....................]</br>
  [.....................]</br>
  [image goes here]</br>
  [.....................]</br>
  [.....................]</br>
  </div>
  <div>
    <%= product.name %>
    <%= product.origin.country %>
    <%= product.display_price %>
    <%= product.producer.company_name %>
    <%= product.description %>
  </div>
</div>
