<div>
 <%= image_tag(product.image) if product.image.attached? %>
</div>
<div>
  <div><%= display_price(product.price) %></div>
  <% if product.isDecaf %>
    <div>Is Decaf ✅</div>
  <% end %>
  <div>Name: <%= product.name %></div>
  <div>Origin: <%= product.origin.country %></div>
  <div>Producer: <%= product.producer.company_name %></div>
  <div>Description: <%= product.description %></div>

  <% if page == 'home/show' %>
    <%= button_to "Add to cart", add_to_cart_path(product_id: product.id)  %>
    
  <% elsif page == 'cart' %>
    <%= button_to "remove from cart", remove_from_cart_path(product_id: product.id), method: :delete %> 
  <% end %>

  <% if user_signed_in? %>
    <% if product.producer == current_user.producer || current_user.isAdmin? %>
      <%= button_to "edit product listing", edit_product_path(id: product.id), method: :get %>  
      <%= button_to "delete product listing", product_path(id: product.id), method: :delete %>  

    <% end %>
  <% end %>
</div>