<%= render 'shared/nav', page_name: 'bean depot' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container">
  <% @products.each do |product| %>
    <div class = "card" style= 'border: solid 1px black;'>
      <%= link_to "#{product.name}", showcase_path(product.id)%>
      <%= render 'shared/product_card', product: product, page: 'home/show' %>
    </div>
  <% end %>

</div>