<%= render 'shared/nav', page_name: @product.name %>

<h1>show case</h1>
 <div>
  [.....................]</br>
  [.....................]</br>
  [image goes here]</br>
  [.....................]</br>
  [.....................]</br>
  </div>
<div>
    <%= @product.name %>
    <%= @product.origin.country %>
    <%= @product.display_price %>
    <%= @product.producer.company_name %>
    <%= @product.description %>
  </div>