<%= render 'shared/nav', page_name: 'cart' %>
<%= render 'shared/profile_nav'%>

<div class="container">
  <div id="showcase">
      <div style = "display: flex; justify-content: space-around;  margin-top: 5px; ">
        <h1> cart total <%= total(@current_cart) %></h1>
        <h1><%= link_to 'pay now', "", id: "stripe", cart: @current_cart %></h1>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <% @current_cart.each do |cart|%>
            <div class = "card col-3" >
              <%= link_to "#{cart.product.name}", showcase_path(cart.product.id)%>
              <%= render 'shared/product_card', product: cart.product, page: 'cart' %>
            </div>
          <% end %>
        </div>
      </div>

      <%= javascript_pack_tag "stripe" %>
  </div>
</div>

