<div>
  <%= form_with model: product, local: true do |form| %>
    <div>
      <%= label_tag :name %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= label_tag :description %>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= label_tag :price %>
      <%= form.number_field :price %>
    </div>

    <div>
      <%= label_tag :isDecaf, "decaf" %>
      <%= form.check_box :isDecaf %>
    </div>

    <div>
      <%= label_tag :origin_id, "origin" %>
      <%= form.select :origin_id, [['ASIA', 1], ['AFRICA', 2], ['SOUTH AMERICA', 3], ['CENTRAL AMERICA', 4]] %>
    </div>

    <div>
      <%= label_tag :grind_type, "grind type" %>
      <%= form.select :grind_type, Product.grind_types.keys.map { |w| [w.humanize, w] } %>
    </div>
    
    <div>
      <%= label_tag :image %> 
      <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>

    <%= form.submit %>
  <% end %>
</div>